.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* styles/productItem.css */
  
  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }